DISCORD_TOKEN=your_bot_token
DISCORD_CLIENT_ID=your_app_client_id
DISCORD_GUILD_ID=your_test_server_id

WS_PORT=9393

VLC_HOST=localhost
VLC_PORT=8080
VLC_PASSWORD=your_vlc_password

ACTION_LOG_ENABLED=true
